.films{
    background-color: #141414;
}

.title{
    color: #e5e5e5;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 10px;

}

.row {
    margin: 0 10px 0 10px;
    display: flex;
}

.image {
    width: 300px;
    height: 150px;
}

.btnPos{
    position: absolute; 
    width: 300px;
    height: 150px;
    opacity: 0;
}

.btnPos2{
    position: absolute; 
    width: 300px;
    height: 150px;
    opacity: 0;
    left: 300px;
}

.btnPos3{
    position: absolute; 
    width: 300px;
    height: 150px;
    opacity: 0;
    left: 600px;
}

.popContent{
    display: flex;
}

.video{
    width: 450px;
    height: 250px;
    background-color: cyan;
    margin-right: 10px;
}